@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .main{
        width: 100%;
        
    }
    .container{
        width: 83%;
        margin: 0 auto;
    }
    .info1{
        left: 488px;
    }
    .info2{
        left: 733px;
    }
    .info3{
        left: 976px;
    }
.head{
    margin-top: 5%;
display: flex;
}
.foot{
    margin-bottom: 10%;
margin-top: 10%;
    display: flex;
    align-items: center;
}
   .litle{
    margin-right: 115px;
    width: 232px;
    height: 203px;
}
   
    .head1{
        margin-left: 0;
        margin-right: -20px;
    }
    .thead{
        margin-bottom: 7%;
        margin-top: 4%;
        color: #000;
font-family: Roboto Slab;
font-size: 3.8vw;
font-style: normal;
font-weight: 700;

line-height: 101.385%
    }
.big{
    background: #FFF;
    margin-left: 10%;
    margin-top: 9%;
    width: 34%;
    height: 50vh;
}
.metn{
    color: #000;
font-family: Roboto;
font-size: 1.3vw;
font-style: normal;
font-weight: 400;
line-height: 130%;
width: 55%;

}
.basliq{
    height: auto;
    color: #000;
font-family: Roboto;
font-size: 1.7vw;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
    .body{
        width: 92%;
        color: #000;
font-family: Roboto;
font-size: 1.6vw;
font-style: normal;
font-weight: 400;
line-height: 150%; 
height: 280px;
    }

@media screen and (min-width: 991px) and (max-width: 1279px){
    
    .info1{
        left: 488px;
    }
    .info2{
        left: 733px;
    }
    .info3{
        left: 976px;
    }
.head{
    margin-top: 5%;
display: flex;
}
.foot{
    margin-bottom: 10%;
margin-top: 50px;
    display: flex;
    align-items: center;
}
   .litle{
   display: none;
}
   
    .head1{
        margin-left: 0;
        margin-right: -20px;
    }
    .thead{
        margin-bottom: 7%;
        margin-top: 4%;
        color: #000;
font-family: Roboto Slab;
font-size: 2.8vw;
font-style: normal;
font-weight: 700;

line-height: 101.385%
    }
.big{
    background: #FFF;
    margin-left: 10%;
    margin-top: 9%;
    width: 38%;
    height: 42vh;
}
.metn{
    color: #000;
font-family: Roboto;
font-size: 1.1vw;
font-style: normal;
font-weight: 400;
line-height: 130%;
width: 55%;

}
.basliq{
    margin-bottom: 5px;
    height: auto;
    color: #000;
font-family: Roboto;
font-size: 1.7vw;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
    .body{
        margin-bottom: 4%;
        width: 87%;
        color: #000;
font-family: Roboto;
font-size: 1.5vw;
font-style: normal;
font-weight: 400;
line-height: 150%; 
height: 280px;
    }
}



@media screen and (min-width: 375px) and (max-width: 991px){
  
    .head{
        flex-direction: column;
       
    }
    .thead{
      margin-bottom: 0;
        width: 211.396px;
height: 53.863px;
font-size: 26px;

    }
    .body{
       
        width: 308.474px;
height: 174.274px;
font-size: 12px;

    }
    .big{
       margin-top: 60px;
        width: 170.55px;
        height: 160.29px;
        

}
.foot{
    width: 350px;
 
    margin-bottom: 10%;
    margin-top: 6%;
    display: flex;

    flex-wrap: wrap;
  
}

.head1{
    margin-bottom: 35px;
    margin-left: 0;
    margin-right: 40px;
}
.media1{
    
    width: 86px;
height: 18px;
}
.media2{
  
    width: 86.892px;
height: 18.505px;
}
.media3{
    
    flex-wrap: wrap;
    width: 76px;
    height: 18px;
}
.litle{
    display: none;
}
.info1{
   
    left: 35px;
}
.info2{
    
    left: 154.33px;
}
.info3{
   
    left: 35px;
}
.basliq{
    font-size: 12px;
}
.metn{
    font-size: 10px;
}
}
